.myBG{
    height: 100vh;
    background: #171717;
}

.section{
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 5px;

}

.trending {
    height: auto;
    background: #454545;
}

.movieImages {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images{
    height: 500px;
}

.superhero{
    background-color: #171717;
}

